ProjectsDOMIJ/file_transfer.edit/bin/FileTransferPackage/provider
ProjectsDOMIJ/file_transfer.editor/bin/FileTransferPackage/presentation
ProjectsDOMIJ/file_transfer.tests/bin/FileTransferPackage/tests
